{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            {% include 'includes/dashboard_sidebar.html' %}
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as:</strong>
                <span>{{ user.full_name }}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Total Orders</h4>
                                <h5>{{ order_count }}</h5>
                                <a href="{% url 'MyOrders' %}">View Orders</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="{{ profile.profile_picture.url }}" alt="User Profile Picture" style="border-radius: 50%; width: 50px; height: 50px;" >
                                <p class="mb-0">{{ user.email }}</p>
                                <p class="mb-0">{{ user.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}